<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zlkj.dingdangwuyou">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.ReleasePositionActivity"/>
        <activity android:name=".activity.LoginChooseActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.NewsDetailActivity"/>
        <activity android:name=".activity.SelfCommendDetailActivity"/>
        <activity android:name=".activity.NewsAllActivity"/>
        <activity android:name=".activity.SocialAllActivity"/>
        <activity android:name=".activity.SocialDetailActivity"/>
        <activity android:name=".activity.PositionDetailActivity"/>
        <activity android:name=".activity.HireListAllActivity"/>
        <activity android:name=".activity.CompanyDetailActivity"/>
        <activity android:name=".activity.ReleaseTaskActivity"/>
        <activity android:name=".activity.CutImageActivity"/>
        <activity android:name=".activity.ImageBrowseActivity"/>
        <activity android:name=".activity.MyHonorActivity"/>
        <activity android:name=".activity.MyWalletActivity"/>
        <activity android:name=".activity.PublishedTaskActivity"/>
        <activity android:name=".activity.TaskDetailUnstartedActivity"/>
        <activity android:name=".activity.TaskDetailPublishedUnderwayActivity"/>
        <activity android:name=".activity.TaskDetailReceivedUnderwayActivity"/>
        <activity android:name=".activity.ReceivedTaskActivity"/>
        <activity android:name=".activity.ChooseReceiverActivity"/>
        <activity android:name=".activity.ComplainHireActivity"/>
        <activity android:name=".activity.PayActivity"/>

        <activity android:name=".activity.UserInfoActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".activity.CompanyInfoActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".wxapi.WXPayEntryActivity"
                  android:launchMode="singleTop"
                  android:theme="@style/Transparent"
                  android:exported="true"/>
    </application>

</manifest>